<?xml version="1.0"?>
<humans>
<!-- MASTER MENU -->
<menu><id>A</id><s>0</s><t>s</t><i>fa fa-home</i><n>Home</n><l>../home/index.php</l></menu>
<menu><id>B</id><s>0</s><t>m</t><i>fa fa-edit</i><n>Master Data</n><l>#</l></menu>




<!-- SUB MENU -->
<menu><id>B10</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Edit Profil</n><l>../data_karyawan/index.php?input=edit</l></menu>
<menu><id>B10</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Gaji</n><l>../data_transaksi_gaji/index.php</l></menu>
<menu><id>B11</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Tunjangan</n><l>../data_tunjangan/index.php</l></menu>
<!-- SUB MENU -->
<menu><id>C1</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Admin</n><l>../data_admin/index.php?input=cetak</l></menu>
<menu><id>C2</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Berita</n><l>../data_berita/index.php?input=cetak</l></menu>
<menu><id>C3</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Galery</n><l>../data_galery/index.php?input=cetak</l></menu>
<menu><id>C4</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Jabatan</n><l>../data_jabatan/index.php?input=cetak</l></menu>
<menu><id>C5</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Karyawan</n><l>../data_karyawan/index.php?input=cetak</l></menu>
<menu><id>C6</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Kritik Dan Saran</n><l>../data_kritik_dan_saran/index.php?input=cetak</l></menu>
<menu><id>C7</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Pembagian Gaji</n><l>../data_pembagian_gaji/index.php?input=cetak</l></menu>
<menu><id>C8</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Profil</n><l>../data_profil/index.php?input=cetak</l></menu>
<menu><id>C9</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Telah Digaji</n><l>../data_telah_digaji/index.php?input=cetak</l></menu>
<menu><id>C10</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Transaksi Gaji</n><l>../data_transaksi_gaji/index.php?input=cetak</l></menu>
<menu><id>C11</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Tunjangan</n><l>../data_tunjangan/index.php?input=cetak</l></menu>
<!-- SUB MENU -->
<menu><id>X1</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Admin</n><l>../data_admin/index.php</l></menu>
<menu><id>X2</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Berita</n><l>../data_berita/index.php</l></menu>
<menu><id>X3</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Galery</n><l>../data_galery/index.php</l></menu>
<menu><id>X4</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Jabatan</n><l>../data_jabatan/index.php</l></menu>
<menu><id>X5</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Karyawan</n><l>../data_karyawan/index.php</l></menu>
<menu><id>X6</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Kritik Dan Saran</n><l>../data_kritik_dan_saran/index.php</l></menu>
<menu><id>X7</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Pembagian Gaji</n><l>../data_pembagian_gaji/index.php</l></menu>
<menu><id>X8</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Profil</n><l>../data_profil/index.php</l></menu>
<menu><id>X9</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Telah Digaji</n><l>../data_telah_digaji/index.php</l></menu>
<menu><id>X10</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Transaksi Gaji</n><l>../data_transaksi_gaji/index.php</l></menu>
<menu><id>X11</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Tunjangan</n><l>../data_tunjangan/index.php</l></menu></humans>