<?xml version="1.0"?>
<humans>
<!-- MASTER MENU -->
<menu><id>A</id><s>0</s><t>s</t><i>fa fa-home</i><n>Home</n><l>../home/index.php</l></menu>
<menu><id>B</id><s>0</s><t>s</t><i>fa fa-envelope-o</i><n>Data Surat Masuk</n><l>../data_surat_masuk/index.php</l></menu>
<menu><id>B</id><s>0</s><t>s</t><i>fa fa-envelope-o</i><n>Data Surat Keluar</n><l>../data_surat_keluar/index.php</l></menu>
<menu><id>B</id><s>0</s><t>s</t><i>fa fa-envelope-o</i><n>Disposisi Surat Masuk</n><l>../data_disposisi_surat_masuk/index.php</l></menu>
<menu><id>B</id><s>0</s><t>s</t><i>fa fa-envelope-o</i><n>Disposisi Surat Keluar</n><l>../data_disposisi_surat_keluar/index.php</l></menu>
<!-- SUB MENU -->
<menu><id>B1</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Admin</n><l>../data_admin/index.php</l></menu>
<menu><id>B3</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Disposisi</n><l>../data_disposisi/index.php</l></menu>
<menu><id>B6</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Pegawai</n><l>../data_pegawai/index.php</l></menu>
<menu><id>B8</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Surat Keluar</n><l>../data_surat_keluar/index.php</l></menu>
<menu><id>B9</id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Surat Masuk</n><l>../data_surat_masuk/index.php</l></menu>
<!-- SUB MENU -->
<menu><id>C3</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Disposisi</n><l>../data_disposisi/index.php?input=cetak</l></menu>
<menu><id>C6</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Pegawai</n><l>../data_pegawai/index.php?input=cetak</l></menu>
<menu><id>C8</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Surat Keluar</n><l>../data_surat_keluar/index.php?input=cetak</l></menu>
<menu><id>C9</id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Surat Masuk</n><l>../data_surat_masuk/index.php?input=cetak</l></menu>
<!-- SUB MENU -->
<menu><id>X1</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Admin</n><l>../data_admin/index.php</l></menu>
<menu><id>X3</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Disposisi</n><l>../data_disposisi/index.php</l></menu>
<menu><id>X6</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Pegawai</n><l>../data_pegawai/index.php</l></menu>
<menu><id>X8</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Surat Keluar</n><l>../data_surat_keluar/index.php</l></menu>
<menu><id>X9</id><s>X</s><t>x</t><i>fa fa-home</i><n>Data Surat Masuk</n><l>../data_surat_masuk/index.php</l></menu></humans>
